<div class="benefitbothindex" data-sb="fadeInUp">
	<div class="container">
    	<div class="row">
        	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            	<div class="box-benefit left1 text-center">
                	<a href="#" class="btn btn-lg btn-info" role="button"><i class="fa fa-home" aria-hidden="true"></i></a>
                	<h4>LỜI CAM KẾT DÀNH CHO</h4>
                    <h3>CHỦ NHÀ</h3>
                </div>
                <div class="box-detail">
                	<p><i class="fa fa-plus-circle" aria-hidden="true"></i> Tư vấn phù hợp với nhu cầu gia đình</p>
                    <p><i class="fa fa-plus-circle" aria-hidden="true"></i> Tất cả thiết bị chính hãng, chất lượng, đạt tiêu chuẩn cao</p>
                    <p><i class="fa fa-plus-circle" aria-hidden="true"></i> Bảo hành 1 đổi 1 theo bảo hành</p>
                    <p><i class="fa fa-plus-circle" aria-hidden="true"></i> Bảo hành kỹ thuật phần mềm 24/24</p>
                    <p><i class="fa fa-plus-circle" aria-hidden="true"></i> Bảo hành toàn bộ hệ thống 5 năm & chăm sóc trọn đời</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            	<div class="box-benefit right1 text-center">
                	<a href="#" class="btn btn-lg btn-info" role="button"><i class="fa fa-building" aria-hidden="true"></i></a>
                	<h4>LỜI CAM KẾT DÀNH CHO</h4>
                    <h3>KIẾN TRÚC SƯ</h3>
                </div>
                <div class="box-detail">
                	<p><i class="fa fa-plus-circle" aria-hidden="true"></i> Hỗ trợ tư vấn xây lắp</p>
                    <p><i class="fa fa-plus-circle" aria-hidden="true"></i> Lên bảng vẽ phù hợp</p>
                    <p><i class="fa fa-plus-circle" aria-hidden="true"></i> Hướng dẫn kỹ thuật điện thông minh</p>
                    <p><i class="fa fa-plus-circle" aria-hidden="true"></i> Chính sách hấp dẫn</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            	<div class="box-benefit1 borderradius1">
                	<div class="boxloiich text-center">
                    	<h2>DỰ TOÁN<br>CHI PHÍ</h2>
                        <small style="color:#ffffff;">Liên hệ để dự toán chi phí.</small><br><br>
                        <a href="<?php echo $__host . 'lien-he' ?>" class="btn btn-lg btn-info" role="button">Bảng tính</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>