<div class="option3" data-sb="fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                <div class="borderradius1">
                    <div class="boxoption3">
                        <h2><a href="giai-phap"
                                target="_self"><i class="fa fa-codepen"
                                    aria-hidden="true"></i></a></h2>
                        <h3><a href="giai-phap"
                                target="_self">GIẢI PHÁP</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                <div class="borderradius1">
                    <div class="boxoption3">
                        <h2><a href="trai-nghiem"
                                target="_self"><i class="fa fa-renren"
                                    aria-hidden="true"></i></a></h2>
                        <h3><a href="trai-nghiem"
                                target="_self">TRẢI NGHIỆM</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                <div class="borderradius1">
                    <div class="boxoption3">
                        <h2><a href="brochure"
                                target="_blank"><i class="fa fa-folder-open"
                                    aria-hidden="true"></i></a></h2>
                        <h3><a href="brochure"
                                target="_blank">XEM BROCHURE</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>