<div class="guarantee" data-sb="fadeInUp">
    	<div class="container">
        	<div class="row">
            	<div class="guaranteebox text-center">
           	    	<img src="~/image/guarantee-hang-hoa-chinh-hang.png" alt="Etron - Smarthome" width="90">
                    <span class="line6"></span>
                    <h3>Hàng hóa chính hãng</h3>
                </div>
                <div class="guaranteebox text-center">
           	    	<img src="~/image/guarantee-bao-hanh-1-doi-1.png" alt="Etron - Smarthome" width="90">
                    <span class="line6"></span>
                    <h3>Bảo hành 1 đổi 1</h3>
                </div>
            	<div class="guaranteebox text-center">
           	    	<img src="~/image/guarantee-bao-tri-phan-mem.png" alt="Etron - Smarthome" width="90">
                    <span class="line6"></span>
                    <h3>Bảo trì phần mềm 24/7</h3>
                </div>
                <div class="guaranteebox text-center">
           	    	<img src="~/image/guarantee-cham-soc-tron-doi.png" alt="Etron - Smarthome" width="90">
                    <span class="line6"></span>
                    <h3>Chăm sóc trọn đời</h3>
                </div>
                <div class="guaranteebox text-center">
           	    	<img src="~/image/guarantee-thanh-toan-khi-ban-giao.png" alt="Etron - Smarthome" width="90">
                    <span class="line6"></span>
                    <h3>Chỉ thanh toán khi vận hành tốt 3-6 tháng</h3>
                </div>
            </div>
        </div>
    </div>