@page
@model ContactModel
@{
    ViewData["Title"] = "Etron - Smart home";
}

<div class="slideshow">
    	<div class="container">
        	<div class="row"><br>
       	    	<img src="~/image/banner-guilienhethanhcong.png" alt="Etron - Smarthome" class="img-responsive"><br>
            </div>
      </div>
    </div>
	<div class="contact">
    	<div class="container">
        	<div class="row">
            	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                	<img src="~/image/logo.png" >
                	<h2>TIN NHẮN GỬI THÀNH CÔNG.<br><br>CHÚNG TÔI SẼ LIÊN HỆ VỚI QUÝ KHÁCH THỜI GIAN SỚM NHẤT!<br><br></h2>
                    <a href="trang-chu" class="btn btn-info" role="button">TRANG CHỦ</a>
                </div> 
            </div>
        </div>
    </div>