@page
@model OverviewModel
@{
    ViewData["Title"] = "Giới Thiệu Về Công Ty Công Nghệ Etron | Etron Smarthome";
}
<div class="slideshow">
    <div class="container">
        <div class="row"><br>
            <img src="~/image/banner-gioithieu.png" alt="Etron - SmartHome"
                class="img-responsive"><br>
        </div>
    </div>
</div>
<div class="intro1" data-sb="fadeInLeftBig">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>NHÀ THÔNG MINH - XU HƯỚNG CỦA TƯƠNG LAI</h2>
                <span class="line2"></span><br>
            </div>
            <div class="hidden-xs hidden-sm hidden-md hidden-lg">
                <h1>GIỚI THIỆU ETRON</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <img src="~/image/intro1.png" alt="Etron - SmartHome"
                            class="img-responsive">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <h3>Ngôi nhà thông minh đầu tiên trên thế giới</h3>
                        <p><b>Biệt thự Thái Bình Dương của Bill Gates</b> được
                            mệnh danh là <b>“ngôi nhà thông minh”</b> đầu tiên
                            trên thế giới và cho đến nay nó vẫn là một trong
                            những công trình công nghệ và hiện đại bậc nhất.
                            Ngôi nhà có diện tích trên 6.000 m2 và ước tính giá
                            trị lên đến 123 triệu USD.</p>
                        <h3>Hệ thống điện Leviton trong ngôi nhà của Bill Gates</h3>
                        <p>Điểm đặt biệt ở “siêu” biệt thự này là nó được trang
                            bị hệ thống <b>Điện thông minh của hãng Leviton</b>.
                            Ngôi nhà được lắp đặt các hệ thống cảm biến tinh vi
                            theo dõi nhiệt độ và điều khiển chiếu sáng thông
                            minh nên khách đến nhà chỉ cần điều chỉnh mức độ
                            sáng và nhiệt độ theo ý thích, mỗi bước đi theo sau
                            khi qua các gian phòng sẽ tự động thay đổi nhiệt độ
                            và độ sáng theo mong muốn.<br>
                            Ngoài ra, ngôi nhà cũng sử dụng hệ thống âm thanh đa
                            vùng với các loa được giấu tinh tế sau lớp tường cho
                            phép ngôi nhà “chơi nhạc” một cách đầy đẳng cấp!<br><br>
                            <b>Trải qua hơn 15 năm</b> vận hành cho đến nay,
                            ngôi nhà vẫn làm cho các vị khách đến thăm phải sửng
                            sốt và khâm phục vì sự <b>“thông minh”</b> và <b>“tiện
                                nghi”</b> mang lại cho người sử dụng.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="intro1" data-sb="fadeInRightBig">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                <h2>LEVITON - TẬP ĐOÀN CUNG CẤP GIẢI PHÁP NHÀ THÔNG MINH HÀNG
                    ĐẦU THẾ GIỚI</h2>
                <span class="line4"></span><br>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <img src="~/image/intro2.png" alt="Etron - SmartHome"
                            class="img-responsive">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <h3>Công nghệ Nhà Thông Minh từ Mỹ</h3>
                        <p>Trong hàng trăm năm qua, <b>nước Mỹ</b> luôn là cái
                            nôi trong lĩnh vực khoa học, công nghệ và tự động
                            hóa. Các sản phẩm công nghệ mà chúng ta sử dụng hằng
                            ngày phần lớn đều mang trong mình cốt lõi <b>công
                                nghệ của Mỹ</b>.<br><br>
                            Lĩnh vực <b>“điện thông minh”</b> cũng vậy, cụm từ
                            tuy chỉ mới xuất hiện tại Việt Nam trong những năm
                            gần đây nhưng đã được nghiên cứu và thực hiện hóa
                            hơn một thế kỷ. Một trong những công ty lớn chuyên
                            nghiên cứu <b>giải pháp điện thông minh</b> đó là <b>Leviton</b>
                            - Một tập đoàn hàng đầu với lịch sử phát triển hơn
                            100 năm.</p>
                        <h3>Leviton Manufacturing Co., Inc</h3>
                        <p><b>Thành lập năm 1906</b> bởi Isidor Leviton và có
                            trụ sở chính tại 201 North Service Rd. Melville, New
                            York, USA, Leviton là tập đoàn công nghệ lâu đời nằm
                            trong <b>top 500 doanh nghiệp lớn nhất nước Mỹ</b>.
                            Hiện nay, các giải pháp và sản phẩm của tập đoàn <b>Leviton</b>
                            đã được sử dụng rộng rãi trên toàn cầu với hơn <b>1000
                                đại lý triển khai</b> tại khu vực Bắc Mỹ, châu
                            Âu và châu Á.<br><br>
                            Với các giải pháp công nghệ đột phá trong lĩnh vực
                            nhà thông minh, <b>Leviton</b> mang đến <b>công nghệ
                                Smarthome</b> hiện đại giúp mang lại cuộc sống
                            tiện nghi & đẳng cấp cho gia chủ!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="intro3" data-sb="fadeInLeftBig">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>GIỚI THIỆU VỀ ETRON SMARTHOME</h2>
                <span class="line2"></span><br>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <h3>Etron Smarthome – Đơn vị độc quyền triển khai giải
                            pháp nhà thông minh Leviton</h3>
                        <p>Tự hào là <b>đơn vị phân phối độc quyền</b>
                            (Authorized Dealer) giải pháp điện thông minh của <b>Leviton,
                                Etron Smarthome</b> mang đến cho quý khách một
                            cuộc sống đẳng cấp hiện đại, đậm chất công nghệ giúp
                            bạn dễ dàng điều khiển ngôi nhà chỉ bằng những cú
                            chạm trên điện thoại.<br><br>
                            Suốt những năm vừa qua, <b>Etron Smarthome</b> luôn
                            nhận chứng chỉ Năm Sao <i>“Five Star Dealer”</i> từ
                            tập đoàn <b>Leviton</b>. Đây là giải thưởng ghi nhận
                            thành tích xuất sắc trong việc triển khai giải pháp
                            <i>Leviton</i> của những đại lý ủy quyền.</p>
                        <h3>Tiền thân & Nền tảng công nghệ</h3>
                        <p>Thành lập cuối năm 2014, tiền thân của <b>Etron
                                Smarthome</b> là bộ phận giải pháp điều khiển tự
                            động của Công ty Phi Long - Công ty công nghệ lớn
                            nhất miền Trung được thành lập năm 1998, hiện đứng
                            thứ 323/500 top doanh nghiệp lớn nhất Việt Nam (theo
                            thống kê của BTC năm 2015).<br><br>
                            Với đội ngũ hơn 50 người bao gồm chuyên gia <i>Leviton</i>,
                            kỹ sư thiết kế lập trình và kỹ thuật viên có năng
                            lực chuyên môn cũng như kinh nghiệm thực tế cao,
                            chúng tôi mang trong mình tinh thần làm việc trách
                            nhiệm và sự yêu nghề từ ban giám đốc đến toàn thể
                            nhân viên. Sự thật được chứng minh chỉ với 2 năm có
                            mặt trên thị trường, <b>Etron Smarthome</b> đã lắp
                            đặt trên <b>100 căn biệt thự</b> khắp cả nước.<br><br>
                            Hơn thế nữa, sản phẩm <b>Etron Smarthome</b> còn
                            được các đại lý <b>Leviton</b> quốc tế đặt hàng như:
                            Italia, Anh, Kenya, Serbia, Arab Saudi, Australia,
                            Cyrus... Song song với đó là hệ thống văn phòng bảo
                            hành cũng có mặt tại các thành phố lớn: Hà Nội, Đà
                            Nẵng, Nha Trang & Hồ Chí Minh.</p>
                        <br><br><br>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <img src="~/image/intro3.png" alt="Etron - SmartHome"
                            class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_Box1"/>