@page
@model SolutionModel
@{
    ViewData["Title"] = "Giới Thiệu Về Công Ty Công Nghệ Etron | Etron Smarthome";
}
<div class="solutionoptions" data-sb="fadeInDown">
    <div class="container-fluid">
        <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="solutionbox1 text-center">
                    <a href="giai-phap#so1"
                        class="btn btn-info btn-lg" role="button"><i
                            class="fa fa-lightbulb-o" aria-hidden="true"></i></a>
                    <h2><a href="giai-phap#so1">HỆ
                            THỐNG<br>CHIẾU SÁNG</a></h2>
                </div>
                <div class="solutionbox2 text-center">
                    <a href="giai-phap#so2"
                        class="btn btn-info btn-lg" role="button"><i
                            class="fa fa-music" aria-hidden="true"></i></a>
                    <h2><a href="giai-phap#so2">HỆ
                            THỐNG<br>ÂM THANH ĐA VÙNG</a></h2>
                </div>
                <div class="solutionbox1 text-center">
                    <a href="giai-phap#so3"
                        class="btn btn-info btn-lg" role="button"><i
                            class="fa fa-bell-o" aria-hidden="true"></i></a>
                    <h2><a href="giai-phap#so3">HỆ
                            THỐNG<br>AN NINH</a></h2>
                </div>
                <div class="solutionbox2 text-center">
                    <a href="giai-phap#so4"
                        class="btn btn-info btn-lg" role="button"><i
                            class="fa fa-camera" aria-hidden="true"></i></a>
                    <h2><a href="giai-phap#so4">HỆ
                            THỐNG<br>CAMERA GIÁM SÁT</a></h2>
                </div>
                <div class="solutionbox1 text-center">
                    <a href="giai-phap#so5"
                        class="btn btn-info btn-lg" role="button"><i
                            class="fa fa-cloud-download" aria-hidden="true"></i></a>
                    <h2><a href="giai-phap#so5">HỆ
                            THỐNG<br>ĐIỀU HÒA KHÔNG KHÍ</a></h2>
                </div>
                <div class="solutionbox2 text-center">
                    <a href="giai-phap#so6"
                        class="btn btn-info btn-lg" role="button"><i
                            class="fa fa-leaf" aria-hidden="true"></i></a>
                    <h2><a href="giai-phap#so6">HỆ
                            THỐNG<br>TƯỚI TIÊU - CÂY CẢNH</a></h2>
                </div>
                <div class="solutionbox1 text-center">
                    <a href="giai-phap#so7"
                        class="btn btn-info btn-lg" role="button"><i
                            class="fa fa-windows" aria-hidden="true"></i></a>
                    <h2><a href="giai-phap#so7">HỆ
                            THỐNG<br>RÈM CỬA</a></h2>
                </div>
                <div class="solutionbox2 text-center">
                    <a href="giai-phap#so8"
                        class="btn btn-info btn-lg" role="button"><i
                            class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                    <h2><a href="giai-phap#so8">HỆ
                            THỐNG<br>ĐA PHƯƠNG TIỆN</a></h2>
                </div>
            </div>
            <div class="hidden-xs hidden-sm hidden-md hidden-lg">
                <h1>GIẢI PHÁP ETRON</h1>
            </div>
        </div>
    </div>
</div>
<div id="top-menu-right" class="intro1">
    <div class="container">
        <div class="row" data-sb="fadeInLeftBig">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="so1">
                <h2>HỆ THỐNG CHIẾU SÁNG</h2>
                <span class="line2"></span><br>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <img src="~/image/he-thong-chieu-sang-img.png"
                            alt="Etron - SmartHome" class="img-responsive">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h3>Phối hợp các ngữ cảnh</h3>
                        <p>Một số <b>ngữ cảnh</b> như: tiếp khách, bữa tối gia
                            đình, tiệc liên hoan, là sự kết hợp hài hòa giữa hệ
                            thống chiếu sáng, âm thanh, tiểu cảnh phun nước nghệ
                            thuật, cùng các hệ thống thiết bị điện khác (nếu
                            có), tất cả mang lại cho người dùng những trải
                            nghiệm thú vị thực sự</p>
                        <h3>Đảm bảo thao tác truyền thông</h3>
                        <p>Tất cả bóng đèn trong nhà đều sử dụng các <b>công tắc
                                thông minh</b> gắn trên tường theo <b>kiểu
                                truyền thống</b>. Bất kỳ ai cũng có thể dễ dàng
                            sử dụng trong trường hợp không dùng tới các thiết bị
                            di động.</p>
                        <h3>Ánh sáng trong tầm tay</h3>
                        <p>Trong căn nhà của bạn có rất nhiều hệ thống bóng đèn
                            đã được lắp đặt một cách hài hòa, nhưng để sử dụng
                            tất cả một cách hợp lý không hề đơn giản. Giờ đây,
                            bạn có thể <b>bật/tắt từng bóng đèn, từng nhóm bóng
                                đèn</b> cũng như cả hệ thống tại bất kỳ khu vực
                            nào trong nhà chỉ với một thao tác trên các giao
                            diện trực quan.</p>
                        <h3>Đèn tự động bật/tắt</h3>
                        <p><b>Cảm biến phát hiện chuyển động</b> tại một số vị
                            trí như hành lang, cầu thang bộ, toilet hay garage
                            giúp đèn tự động bật và tắt theo nhu cầu sử dụng.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-sb="fadeInRightBig">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="so2">
                <h2>HỆ THỐNG ÂM THANH ĐA VÙNG</h2>
                <span class="line2"></span><br>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <img src="~/image/he-thong-am-thanh-da-vung-img.png"
                            alt="Etron - SmartHome" class="img-responsive">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h3>Tiện ích khi sử dụng</h3>
                        <p>Trong khi bạn đang thưởng thức nhạc hòa tấu tại phòng
                            khách thì bọn trẻ vẫn có thể độc lập nghe Rock tại
                            phòng riêng và một bản tình ca Trịnh Công Sơn được
                            thưởng thức tại khu vực sân vườn <b>(mở rộng đến 16
                                vùng âm thanh)</b>. Không chỉ vậy bạn còn có thể
                            bật/tắt, tăng/giảm âm lượng hay thay đổi bài hát
                            bằng các phím bấm trên tường và trên màn hình
                            smartphone/tablet khi đang ở bất kỳ đâu.</p>
                        <h3>Tối ưu đầu tư</h3>
                        <p>Chỉ với một mức đầu tư, bạn có thể sử dụng nguồn <b>âm
                                nhạc chất lượng cao</b> (nguồn nhạc lossless sẵn
                            có từ hệ thống và nguồn online) để thưởng thức âm
                            nhạc cùng lúc tại nhiều khu vực khác nhau mà không
                            cần bận tâm đến trở ngại về khoảng cách.</p>
                        <h3>Kết hợp thông minh</h3>
                        <p>Sự <b>kết hợp thông minh</b> trong nhiều <b>ngữ cảnh</b>
                            khác nhau, âm nhạc có thể tự bật lên cùng với sự
                            thay đổi của các tiện nghi khác như đèn, rèm cửa,
                            cửa sổ, điều hòa...<br>Ngoài ra, <b>âm thanh đa vùng</b>
                            còn được sử dũng vào trong hệ thống cảnh báo an
                            ninh.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-sb="fadeInLeftBig">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="so3">
                <h2>HỆ THỐNG AN NINH</h2>
                <span class="line2"></span><br>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <img src="~/image/he-thong-an-ninh-img.png"
                            alt="Etron - SmartHome" class="img-responsive">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h3>Cảnh báo đột nhập</h3>
                        <p><b>Hệ thống bảo vệ 3 lớp</b> từ ngoài vào trong nhà
                            với các cảm biến giúp bạn phát hiện sớm đột nhập bất
                            hợp pháp. Hệ thống đưa ra các hành động cảnh báo như
                            bật nhạc sân vườn, bật đèn ngoài sân, trong nhà, bật
                            còi hú...</p>
                        <h3>Cảnh báo cháy nổ</h3>
                        <p>Hệ thống bao gồm các <b>cảm biến phát hiện rò rỉ khí
                                gas</b>, phát hiện <b>khói, nhiệt</b>. Khi phát
                            hiện khí gas rò rỉ, hệ thống thực hiện đóng van gas,
                            tự động tắt điều hòa để không cho khói, khí độc lan
                            sang các phòng khác.</p>
                        <h3>Cảnh báo kịp thời</h3>
                        <p>Tất cả các cảnh bao về đột nhập, cháy nổ, rò rỉ khí
                            gas... sẽ được thông báo ngay cho bạn (hoặc số các
                            cơ quan chức năng gần nhà mà bạn đã cài đặt trước
                            tùy theo cấp độ bảo mật) bằng cách gọi điện, gửi sms
                            hoặc email.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-sb="fadeInRightBig">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="so4">
                <h2>HỆ THỐNG CAMERA GIÁM SÁT</h2>
                <span class="line2"></span><br>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <img src="~/image/he-thong-camera-giam-sat-img.png"
                            alt="Etron - SmartHome" class="img-responsive">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h3>Quan sát mọi nơi</h3>
                        <p><b>Hệ thống camera</b> giúp bạn quan sát hình ảnh của
                            ngôi nhà trên giao diện thông minh. Khi nhận được
                            cảnh báo từ <b>hệ thống thông minh</b>, bạn có thể
                            <b>kiểm tra</b> và <b>xử lý</b> ngay bằng <b>hệ
                                thống camera</b>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-sb="fadeInLeftBig">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="so5">
                <h2>HỆ THỐNG ĐIỀU HÒA KHÔNG KHÍ</h2>
                <span class="line2"></span><br>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <img src="~/image/he-thong-dieu-hoa-khong-khi-img.png"
                            alt="Etron - SmartHome" class="img-responsive">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h3>Tối đa tiện ích cho người dùng</h3>
                        <p>Giờ đây, bạn có thể ngồi tại văn phòng làm việc để
                            bật và điều chỉnh điều hòa ở nhà lúc sắp ra về.<br>Đặc
                            biệt hơn, khi <b>sự thông minh</b> này còn được đưa
                            vào <b>ngữ cảnh</b> giấc ngủ sẽ đảm bảo sức khỏe cho
                            mọi thành viên trong gia đình bạn.<br>(Ngữ cảnh
                            thông dụng: lúc mới bật nhiệt độ ở 18OC, 2 giờ sau
                            tự động lên 24OC, đến 1h sáng tự động lên 28OC và sẽ
                            tự tắt lúc 5h sáng).</p>
                        <h3>Điều hòa có thể "thông minh" hơn!</h3>
                        <p>Ngoài việc điều khiển được mọi tính năng thay cho
                            remote, <b>hệ thống điều khiển thông minh Leviton</b>
                            còn có thể can thiệp sâu vào việc bật/tắt, hẹn giờ,
                            thay đổi chế độ, tăng/giảm nhiệt độ
                            "một cách tự động" hoặc điều chỉnh theo ý nuốn gia
                            chủ.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-sb="fadeInRightBig">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="so6">
                <h2>HỆ THỐNG TƯỚI TIÊU - CÂY CẢNH</h2>
                <span class="line2"></span><br>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <img src="~/image/he-thong-tuoi-tieu-cay-canh-img.png"
                            alt="Etron - SmartHome" class="img-responsive">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <p>Những <b>ý tưởng</b> của việc <b>tạo cảnh quan</b>
                            xung quanh hồ bơi là vô tận, chúng phản ánh <b>phong
                                cách giải trí</b> và tạo nên <b>cá tính riêng</b>
                            cho bạn.<br>Việc kết hợp giữa <b>hiệu ứng thác nước</b>,
                            <b>hiệu ứng ánh sáng và âm thanh</b> cùng cây cỏ sẽ
                            tạo nên một ốc đảo thu nhỏ trong nhà bạn.</p>
                        <p>Tuy nhiên, để hoàn thành được ý tưởng này, bạn cần có
                            một kế hoạch thiết kế trước đó về cảnh quan.<br>Và
                            kế hoạch này sẽ được đơn giản hóa với <b>giải pháp
                                của Leviton</b>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-sb="fadeInLeftBig">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="so7">
                <h2>HỆ THỐNG RÈM CỬA</h2>
                <span class="line2"></span><br>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <img src="~/image/he-thong-rem-cua-img.png"
                            alt="Etron - SmartHome" class="img-responsive">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h3>Hệ thống rèm</h3>
                        <p><b>Điều khiển màn, rèm:</b> đóng/mở qua thiết bị di
                            động hoặc cài đặt lịch hẹn đóng/mở theo <b>ngữ cảnh
                                sinh hoạt</b> mong muốn.</p>
                        <h3>Hệ thống cổng</h3>
                        <p>Tất cả cổng, cửa nhà được <b>đóng/mở</b> bằng <b>hình
                                ảnh trực quan từ camera</b>.</p>
                        <h3>Hệ thống chuông cổng màn hình</h3>
                        <p>Khách đến nhà, bạn chỉ cần mở màn hình cảm ứng xem vị
                            khách đó là ai, chỉ một nút bấm để mở cửa tiếp khách
                            hoặc từ chối tiếp khách thật lịch sự, tế nhị.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-sb="fadeInRightBig">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="so8">
                <h2>HỆ THỐNG ĐA PHƯƠNG TIỆN</h2>
                <span class="line2"></span><br>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <img src="~/image/he-thong-da-phuong-tien-img.png"
                            alt="Etron - SmartHome" class="img-responsive">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <p>Hãy tưởng tượng mỗi lần tại phòng khách hay phòng
                            giải trí muốn bật xem phim bạn phải thực hiện rất
                            nhiều thao tác: kéo rèm, tắt điện, bật đầu xem phim,
                            bật đầu máy chiếu (hoặc màn hình), bật âm ly. Và
                            cũng tương tự từng ấy thao tác nếu bạn muốn chuyển
                            sang nghe nhạc hoặc karaoke.<br>Với <b>Etron
                                SmartHome, chỉ đơn giản là một phím bấm</b>.</p>
                        <p>Phòng giải trí chỉ việc thiết kế thêm số lượng phím
                            bấm (hoặc có thể điều khiển trên điện thoại) bằng số
                            lượng ngữ cảnh bạn muốn, chẳng hạn phím bấm xem
                            phim: rèm kéo lại, đồng thời điện chiếu sáng tắt, âm
                            ly và đầu chiếu phim bật lên, máy chiếu bật lên chọn
                            cổng HDMI 1, việc còn lại bạn chỉ việc chọn xem phim
                            và xem.<br>Tương tự, bạn có thể thiết kế cho mình
                            chế độ hát karaoke, chế độ nghe nhạc, chế độ xem
                            tivi... cũng chỉ <b>một phím bấm</b> mà thôi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scenario" id="so9" data-sb="fadeInUpBig">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center scenario1">
            <a href="#" class="btn btn-lg btn-info" role="button"><i
                    class="fa fa-clock-o" aria-hidden="true"></i></a>
            <p>Ngữ cảnh</p>
            <h4>GOOD MORNING</h4>
            <span class="line"></span>
            <h5>Vào 6h sáng, điều hòa sẽ tắt ở tất cả phòng ngủ, rèm được kéo
                ra, âm nhạc từ nguồn 1 sẽ phát lên với âm lượng tăng dần (volume
                sẽ tăng dần từ 20 đến 22 đến 24 sau mỗi phút).</h5>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center scenario2">
            <a href="#" class="btn btn-lg btn-info" role="button"><i
                    class="fa fa-film" aria-hidden="true"></i></a>
            <p>Ngữ cảnh</p>
            <h4>CINEMA</h4>
            <span class="line"></span>
            <h5>Tại phòng phim, màn hình và máy chiếu được hạ xuống, toàn bộ hệ
                thống âm thanh được bật lên, tất cả đèn tắt đồng thời tất cả rèm
                sẽ được kéo lại đảm bảo ánh sáng đạt chuẩn cho buổi xem phim.</h5>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center scenario3">
            <a href="#" class="btn btn-lg btn-info" role="button"><i
                    class="fa fa-birthday-cake" aria-hidden="true"></i></a>
            <p>Ngữ cảnh</p>
            <h4>HAPPY HOURS</h4>
            <span class="line"></span>
            <h5>Nhạc bật ở nguồn 2, bật đèn thả, đèn trần vàng và đèn quầy bar,
                mở các rèm ở phòng ăn và mở đèn tranh ở phòng khách.</h5>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center scenario4">
            <a href="#" class="btn btn-lg btn-info" role="button"><i
                    class="fa fa-sun-o" aria-hidden="true"></i></a>
            <p>Ngữ cảnh</p>
            <h4>VACATION</h4>
            <span class="line"></span>
            <h5>Tất cả đèn, âm thanh, màn rèm, cổng cửa, bếp gas, điều hòa
                chuyển sang chế độ OFF, báo những vị trí cửa chưa được đóng lại,
                bật chế độ cảnh báo giả lập như có người ở nhà nếu phát hiện đột
                nhập.</h5>
        </div>
    </div>
</div>
<div class="hidden-xs">
    <ul class="solutionoptions menu-solutionoptions-right" style="display:none">
        <li><a href="giai-phap#so1"
                class="btn btn-info btn-lg" role="button"><i
                    class="fa fa-lightbulb-o" aria-hidden="true"></i></a></li>
        <li><a href="giai-phap#so2"
                class="btn btn-info btn-lg" role="button"><i class="fa fa-music"
                    aria-hidden="true"></i></a></li>
        <li><a href="giai-phap#so3"
                class="btn btn-info btn-lg" role="button"><i
                    class="fa fa-bell-o" aria-hidden="true"></i></a></li>
        <li><a href="giai-phap#so4"
                class="btn btn-info btn-lg" role="button"><i
                    class="fa fa-camera" aria-hidden="true"></i></a></li>
        <li><a href="giai-phap#so5"
                class="btn btn-info btn-lg" role="button"><i
                    class="fa fa-cloud-download" aria-hidden="true"></i></a></li>
        <li><a href="giai-phap#so6"
                class="btn btn-info btn-lg" role="button"><i class="fa fa-leaf"
                    aria-hidden="true"></i></a></li>
        <li><a href="giai-phap#so7"
                class="btn btn-info btn-lg" role="button"><i
                    class="fa fa-windows" aria-hidden="true"></i></a></li>
        <li><a href="giai-phap#so8"
                class="btn btn-info btn-lg" role="button"><i
                    class="fa fa-play-circle-o" aria-hidden="true"></i></a></li>
    </ul>
</div>
<partial name="_Box1" />

@section scripts {
    <script>
        $(document).ready(function () {
            var showMenuRight = false;
            var positionTop = $('#top-menu-right').position().top;
            var eleMenuRight = $('.menu-solutionoptions-right');
            $(window).scroll(function () {
                if (showMenuRight == false) {
                    if ($(window).scrollTop() >= positionTop) 
                        eleMenuRight.show({speed: 1000})
                        showMenuRight = true;
                } else {
                    if ($(window).scrollTop() < positionTop) {
                        eleMenuRight.hide({speed: 1000})
                        showMenuRight = false;
                    }
                }
            });
        })
    </script>
}