@page
@model ExperienceModel
@{
    ViewData["Title"] = "Trải Nghiệm Nhà Thông Minh Thực Tế Ảo | Etron Smarthome";
}

<div class="slideshow">
	<div class="container">
    	<div class="row"><br>
   	    	<img src="~/image/banner-trainghiem.png" alt="Etron - SmartHome" class="img-responsive"><br>
        </div>
    </div>
</div>
<div class="experience" data-sb="fadeInDown">
    <div class="container">
    	<div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box_experience">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3>Phòng khách thực tế ảo</h3>
                    <span class="line2"></span>
                    <br><br>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <a href="trai-nghiem/phong-khach" target="_self">
                            <img src="~/image/phong-khach-thuc-te-ao-etron.png" alt="Trải Nghiệm Nhà Thông Minh Thực Tế Ảo | Etron Smarthome">
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <p class="text-justify">Trải nghiệm ứng dụng điều khiển nhà thông minh của <b>Etron</b> qua Ipad để điều khiển phòng khách: Ngữ cảnh, Bật tắt thiết bị, âm thanh đa vùng…</p>
                        <small>(Demo mang tính minh họa – hãy đến <b>Etron</b> để tìm hiểu rõ hơn!)</small><br><br>
                        <a href="trai-nghiem/phong-khach" class="btn btn-info" role="button"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;&nbsp;TRẢI NGHIỆM</a> 
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                    <h3>Rạp chiếu phim thực tế ảo</h3>
                    <span class="line4"></span>
                    <br><br>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <p class="text-justify">Từ nay gia chủ không còn cảm thấy khó khăn khi phải set up phòng phim của mình. Chỉ với 1 nút bấm tại phần mềm <b>Etron Smarthome</b> thì tất cả những gì bạn cần làm là ngả lưng trên sofa và thư giãn.</p>
                        <small>(Demo mang tính minh họa – hãy đến <b>Etron</b> để tìm hiểu rõ hơn!)</small><br><br>
                        <a href="trai-nghiem/phong-phim" class="btn btn-info" role="button">TRẢI NGHIỆM&nbsp;&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <a href="trai-nghiem/phong-phim" target="_self"><img src="~/image/rap-chieu-phim-thuc-te-ao-etron.png" alt="Trải Nghiệm Nhà Thông Minh Thực Tế Ảo | Etron Smarthome"></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3>Sân vườn thực tế ảo</h3>
                    <span class="line2"></span>
                    <br><br>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                       <a href="trai-nghiem/san-vuon" target="_self"><img src="~/image/san-vuon-thuc-te-ao-etron.png" alt="Trải Nghiệm Nhà Thông Minh Thực Tế Ảo | Etron Smarthome"></a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <p class="text-justify">Nhiều chủ nhà có sở thích thư giãn, nghe nhạc trong không gian xanh mát tại sân vườn. Chỉ với những thao tác đơn giản trên ứng dụng <b>Etron Smarthome</b>, chủ nhà đã có thể tận hưởng khoảng thời gian tuyêt vời này.</p>
                        <small>(Demo mang tính minh họa – hãy đến <b>Etron</b> để tìm hiểu rõ hơn!)</small><br><br>
                        <a href="trai-nghiem/san-vuon" class="btn btn-info" role="button"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;&nbsp;TRẢI NGHIỆM</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_Box2"/>