@page
@model ProjectDetailModel
@{
    ViewData["Title"] = "Trải Nghiệm Nhà Thông Minh Thực Tế Ảo | Etron Smarthome";
}

<div class="slideshow">
	<div class="container">
    	<div class="row"><br>
   	    	<img src="~/image/banner-trainghiem.png" alt="Etron - SmartHome" class="img-responsive"><br>
        </div>
    </div>
</div>