@page
@model LoginModel
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = null;
}

<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Matrix lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Matrix admin lite design, Matrix admin lite dashboard bootstrap 5 dashboard template"
    />
    <meta
      name="description"
      content="Matrix Admin Lite Free Version is powerful and clean admin dashboard template, inpired from Bootstrap Framework"
    />
    <meta name="robots" content="noindex,nofollow" />
    <title>Đăng nhập</title>
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="~/favicon.ico"
    />
    <link href="~/admin/dist/css/style.min.css" rel="stylesheet" />
    <style>
        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            background-color: #00afef;
        }
        .main-wrapper {
            background-color: #fff;
            margin: auto;
            border: 1px solid #ddd;
            padding: 0 2rem 2rem;
            border-radius: 1rem;
            width: 30%;
        }
    </style>
  </head>

  <body>
    <div class="main-wrapper">
        <div class="auth-box">
          <div id="loginform">
            <div class="text-center pt-3 pb-3">
              <span class="db">
                <img src="/image/logo.png" alt="Etron - SmartHome"/>
              </span>
            </div>
            <form class="form-horizontal mt-3" method="post">
              <div class="row pb-2">
                <div class="col-12">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-success text-white h-100"
                        id="basic-addon1"
                        ><i class="mdi mdi-account fs-4"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      placeholder="Tên Đăng nhập"
                      aria-label="Tên Đăng nhập"
                      aria-describedby="basic-addon1"
                      required=""
                      name="Username"
                    />
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-warning text-white h-100"
                        id="basic-addon2"
                        ><i class="mdi mdi-lock fs-4"></i
                      ></span>
                    </div>
                    <input
                      type="password"
                      class="form-control form-control-lg"
                      placeholder="Mật khẩu"
                      aria-label="Mật khẩu"
                      aria-describedby="basic-addon1"
                      required=""
                      name="Password"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-success text-white w-100 btn-lg" style="background-color: #0c7592;" type="submit" asp-page-handler="SubmitLogin">
                        Đăng nhập
                    </button>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
    <script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
    </script>
  </body>
</html>
